@import "../../../scss/variables";
.site {
    color: $blue-theme;
}
.container {
    background-color: $gray-theme;
    font-size: 1.5rem;
    width: 100%;
}
.logo {
    width: fit-content;
    &:hover {
        cursor: pointer;
    }
}
.link {
    text-decoration: none;
    color: black;
}
.top {
    display: flex;
}
.admin {
    margin-left: 1rem;
}
.link {
    color: black;
    text-decoration: none;
}
