@import "../../../scss/variables";
.navbar__top__logo__link {
    text-decoration: none;
    color: black;
}
.navbar__top__logo__link-site {
    color: $blue-theme;
}
.navbar {
    background-color: $gray-theme;
    font-size: 1.5rem;
    width: 100%;
}
.navbar__top__logo {
    width: fit-content;
    &:hover {
        cursor: pointer;
    }
}

.navbar__top {
    display: flex;
    justify-content: space-between;
}
.navbar__important {
    margin-left: 1rem;
    margin-right: 1rem;
}
.navbar__important__link {
    color: black;
    text-decoration: none;
}
