.post-creator {
    width: 50%;
    font-size: 1.6rem;
    button {
        font-size: 1.6rem;
    }
    textarea {
        width: 100%;
        font-size: 1.6rem;
    }
    input {
        width: 50%;
    }
}

.post-creator__upload-icon {
    margin-left: 0.5rem;
}
.post-creator__upload-button {
    pointer-events: none;

    &:hover {
        cursor: pointer;
    }
}
.attachPhotos-controller {
    display: flex;
}
.files-amount {
    margin-left: 0.5rem;
}
@media screen and (max-width: 390px) {
    .container {
        font-size: 1.5rem;
        button {
            font-size: 1.4;
        }
        textarea {
            width: 100%;
            font-size: 1.4rem;
        }
        input {
            font-size: 1.4rem;
        }
    }
}
.post-creator__add-news-controller {
    display: flex;
}
