.container {
    width: 50vw;
    font-size: 1.6rem;
    button {
        font-size: 1.6rem;
    }
    textarea {
        width: 100%;
        font-size: 1.6rem;
    }
    input {
        width: 50%;
    }
}
.input-controller {
    margin-bottom: 1rem;
    input {
        font-size: 1.6rem;
    }
}
@media screen and(max-width: 460px) {
    .input-controller {
        input {
            font-size: 1.4rem;
        }
    }
}
.upload-icon {
    margin-left: 0.5rem;
}
.upload-button {
    pointer-events: none;

    &:hover {
        cursor: pointer;
    }
}
.attachPhotos-controller {
    display: flex;
}
.files-amount {
    margin-left: 0.5rem;
}
