@import "../../../../scss/variables";
.post-sended__icon {
    color: $canceled-theme;
}
.post-sended__link {
    color: black;
    text-decoration: none;
}
.post-sended {
    width: 20%;
    display: flex;
    justify-content: space-between;
}
