@import "../../../scss/variables";
.categories-list__item {
    width: 200px;
    display: flex;
    justify-content: space-between;
}
.categories-list__item-delete {
    color: $canceled-theme;
    &:hover {
        cursor: pointer;
    }
}
