@import "../../scss/variables";
.container {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    &:hover {
        cursor: pointer;
    }
}
.space {
    width: 100%;
    height: 1px;
    margin-top: 0.5rem;
    background-color: $blue-theme;
}

.date {
    color: $gray-theme;
    font-size: 1.3rem;
}
.title {
    font-weight: bold;
}
.category {
    color: $gray-theme;
    font-size: 0.8rem;
}
