@import "../../scss/variables";
.news-shortcut {
    margin-top: 1rem;
    margin-left: 1rem;
    font-size: 1.5rem;
    &:hover {
        cursor: pointer;
    }
}
.news-shortcut__content__space {
    width: 100%;
    height: 1px;
    margin-top: 0.5rem;
    background-color: $blue-theme;
}

.news-shortcut__content__date {
    color: $gray-theme;
    font-size: 1.3rem;
}
.news-shortcut__content__text-title {
    font-weight: bold;
}
.news-shortcut__content__category {
    color: $gray-theme;
    font-size: 0.8rem;
}
