@import "../../scss/variables";
.nav {
    &:hover {
        cursor: pointer;
    }
}
.nav-controller {
    background-color: $gray-theme;
    font-size: 1.6rem;
    padding-right: 0.5rem;
}
.container {
    display: flex;
    position: absolute;
    width: 100vw;
}
