@import "../../scss/variables";
.nav-elements__nav-controller__nav {
    &:hover {
        cursor: pointer;
    }
}
.nav-elements__nav-controller {
    background: $gray-theme;
    font-size: 1.3rem;
    padding-right: 0.5rem;
}
.nav-elements {
    display: flex;
    position: absolute;
    width: 100%;
    background: $gray-theme;
}
