@import "../../scss/variables";
.nav {
    &:hover {
        cursor: pointer;
    }
}
.container {
    background-color: $gray-theme;
    width: 100vw;
    font-size: 1.6rem;
    position: absolute;
}
