@import "../../../scss/variables";
.container {
    display: flex;
    justify-content: space-between;
    font-size: 1.4rem;
    div {
        padding: 0.5rem;
    }
    max-width: 500px;
}
.icon {
    color: $canceled-theme;
}
@media screen and (max-width: 430px) {
    .container {
        font-size: 1rem;
    }
}
