.add-class {
    float: left;
    font-size: 1.2rem;
    button {
        font-size: 1.2rem;
        &:hover {
            cursor: pointer;
        }
    }
}
.add-class__input {
    margin: 0.5rem;
}
