@import "../../../scss/variables";
.sidebar {
    width: 200px;
    margin-top: 5%;
    float: left;
    background-color: $gray-theme;
    a {
        color: black;
    }
}
.sidebar__element {
    font-size: 1.3rem;
    text-align: center;
    border-bottom: 1px solid $blue-theme;
    padding-left: 0.2rem;
    padding-right: 0.2rem;
    &:hover {
        cursor: pointer;
    }
}
.sidebar__cb {
    clear: both;
}
@media screen and(max-width: 600px) {
    .sidebar {
        margin-top: 15%;
    }
}
