@import "../../scss/variables";
.post__user-data {
    display: flex;
}
.post__user-data__text {
    margin-left: 4rem;
}
.post__user-data__text-title {
    font-weight: bold;
}
.post__user-data__date {
    font-size: 1rem;
    color: $gray-theme;
}
.post__admin__add-news-controller {
    margin-top: 1rem;
}
.post__attach-photos__attach-button {
    pointer-events: none;
}
.post__admin {
    display: flex;
    flex-direction: column;
}
.post {
    max-width: 500px;
}
